{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block main %}
	<h1 class="text-danger mb-4">Mon Panier</h1>

	<div id="cart-items">
		<p>Les articles ajoutés au panier apparaîtront ici.</p>
	</div>
	<button class="btn btn-danger mt-3" id="checkout-btn">Passer à la commande</button>
{% endblock %}
