{% extends 'base.html.twig' %}
{% import 'macros/ui.html.twig' as ui %}

{% block title %}
	Accueil
{% endblock %}

{% block main %}
	<h1>{{ 'ferrari – histoire & héritage'|upper }}</h1>

	<p>
		Ferrari est une marque emblématique du sport automobile, fondée par Enzo Ferrari.
		        Présente en endurance et en Formule 1, la Scuderia incarne la performance et la passion.
	</p>

	<h2>Voitures emblématiques</h2>

	<div class="cards">
		{% for car in cars %}
			{{ ui.card(
                car|upper,
                'modèle emblématique ferrari'|capitalize
            ) }}
		{% endfor %}
	</div>

	<p class="summary">
		Nombre de modèles présentés :
		{{ cars|length }}
	</p>
{% endblock %}
