<nav class="main-menu">
	<ul>
		<li><ahref="{{ path('home') }}">Accueil</ahref=></li>
		<li><a href="#">Courses</a></li>
		<li><a href="#">Pilotes</a></li>
		<li><a href="#">Marques</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>
