<nav class="menu">
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('sport_auto') }}">Sport Auto</a></li>
        <li><a href="{{ path('store') }}">Store</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>
