{% extends 'base.html.twig' %}

{% block title %}Store
{% endblock %}

{% block main %}
	<h1>Ferrari Store</h1>

	<ul>
		<li>T-shirt Ferrari</li>
		<li>Casquette Ferrari</li>
		<li>Miniature Ferrari 499P</li>
	</ul>

	<p>(Boutique fictive – panier plus tard)</p>
{% endblock %}
