{% extends 'base.html.twig' %}

{% block title %}Historique des commandes
{% endblock %}

{% block main %}
	<h1 class="text-danger mb-4">Mes Commandes</h1>

	<div id="order-history">
		<p>Les commandes passées apparaîtront ici.</p>
	</div>
{% endblock %}
