{% extends 'base.html.twig' %}
{% import 'macros/ui.html.twig' as ui %}

{% block title %}
	Sport Auto – Palmarès Ferrari
{% endblock %}

{% block main %}
	<h1>{{ 'palmarès ferrari wec'|upper }}</h1>

	{% for item in palmares %}
		{{ ui.card(
            item.year,
            item.title|capitalize,
            item.major
        ) }}
	{% endfor %}

	<p class="summary">
		Nombre total de résultats :
		{{ palmares|length }}
	</p>
{% endblock %}
